

.error-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.error{
    font-size: 6rem;
    font-family: 'DIN 2014', sans-serif;
}
.error button{
    padding: 0.5rem;
    width: 10rem;
    height: 3rem;
    background-color: #d20a0a;
    border: 2px solid #d20a0a;
    color: white;
    font-family: 'DIN 2014', sans-serif;
    cursor: pointer;
    display: block;
    margin: auto;
    margin-top: 1rem;
    text-decoration: none;
 
}
.error button:hover{
    color:#d20a0a;
    background-color:#fff;
}
.error div{
    text-align: center;
    color:#d20a0a;

}