
.upload-container{
    height: 74vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 4px solid var(--primary-color);
    padding-bottom: 1rem;
    margin-top: 2px;
}

.upload{
    height: 20rem;
    width: 18rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: var(--box-shadow1);
    padding: 1rem;
    margin-top: 1rem;
}

.upload form{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}

.upload form input{
    height: 1.5rem;
    outline: none;
    padding: 4px;
}

.upload-container button{
    background-color: #d20a0a;
    border: 2px solid #d20a0a;
    color: white;
    font-family: "DIN 2014", sans-serif;
    cursor: pointer;
    margin: 1rem;
    padding: 8px;
    
}

.upload-container button:hover{
    color: #d20a0a;
    background-color: #fff;
}

@media (min-width:40rem){
    .upload{
        min-width:22rem
    }
    .upload-container button{
        bottom: 0;
        height: 3rem;
    }
    

}