
.video-player-container{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.video-player{
  height: 100vh;
  width: 85vw;
  margin: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}



iframe{
    height: 100%;
    width: 100%;
}

.video-iframe{
    height: 100%;
    width: 100%;
}

@media (min-width:40rem){
    .video-player{
        height: 70vh;
        width: 85vw;
        margin: 1rem;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

