
.video-player-container{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.video-player{
    height: 70vh;
    width: 80vw;
    margin: 1rem;
    display: flex;
    align-items: center;
}

iframe{
    height: 100%;
    width: 100%;
}

.video-iframe{
    height: 100%;
    width: 100%;
}

