.playlist-modal {
  padding: 1rem;
  list-style: none;
  box-shadow: 0px 0px 10px 4px #aaa;
  background-color: #fff;
}
.playlist-modal li {
  display: flex;
  justify-content: center;
  align-items: center;
}
.playlist-modal p {
  font-weight: 700;
}
.playlist-modal .playlist-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.playlist-modal .playlist-input {
  position: relative;
  bottom: -14px;
}

.playlist-modal > * {
  padding: 3px;
}

.playlist-input > * {
  padding: 3px;
}
.playlist-input input {
  outline: none;
}
.playlist-input button {
  cursor: pointer;
}
.playlist-header button > span {
  font-size: 1rem;
}
.playlist-header button {
  background: none;
  cursor: pointer;
}

.playlist-modal-container {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
}
