.playlist-modal {
    padding: 1rem;
    position: absolute;
    top: 53px;
    left: 38px;
    font-family: "DIN 2014", sans-serif;
    list-style: none;
    box-shadow: 0px 0px 10px 4px #aaa;
    background-color: #fff;
}
.playlist-modal li {
  display: flex;
  justify-content: center;
  align-items: center;
}
.playlist-modal p {
  font-weight: 700;
}
.playlist-modal .playlist-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.playlist-modal .playlist-input {
  position: relative;
  bottom: -14px;
}

.playlist-modal > * {
  padding: 3px;
}

.playlist-input > * {
  padding: 3px;
}
.playlist-input input {
  outline: none;
}
.playlist-input button {
  cursor: pointer;
}
.playlist-header button > span {
  font-size: 1rem;
}
.playlist-header button {
  background: none;
  cursor: pointer;
}
